.container {
  min-height: calc(100vh - 60px);
  background-color: var(--Very-Light-Gray);
}

/* Dark Mode */
.dark .container {
  background-color: var(--Very-Dark-Blue);
  transition: 0.5s ease-out;
}

.dark .nav,
.dark .searchBox,
.dark .input-search,
.dark .select-region,
.dark .countryItem,
.dark .btn-back,
.dark .btn-border {
  background-color: var(--Dark-Blue);
  color: #fff;
  /* transition: 0.5s ease-out; */
}

.dark .navlinkTitle,
.dark .icon-search,
.dark .countryInfo,
.dark .list-info,
.dark .country-info h1,
.dark .title-border {
  color: #fff;
}

.dark .btn-border {
  border: none;
}
